#!/bin/bash
exit_test () {
RED='\033[0;31m' # Red Text
GREEN='\033[0;32m' # Green Text
NC='\033[0m' # No Color
if [ $1 -eq 0 ]; then
    printf "\n $GREEN Playbook Succeeded $NC \n"
else
    printf "\n $RED Failed Playbook $NC \n" >&2
    exit 1
fi
}
cd ~/ansible
git pull
export ANSIBLE_PASSWORD='${ansible_password}'
ansible-playbook \
%{ for k,v in vars ~}
-e "${k}=${v}" \
%{ endfor ~}
-e ansible_password='{{ lookup("env", "ANSIBLE_PASSWORD") }}' \
${ansible_playbook}; exit_test $?